@implements IDisposable
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

@* <div class="top-row ps-3 navbar navbar-dark" style="height: 4rem">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Szakdolgozat</a>
    </div>
</div> *@
@* 
<input type="checkbox" title="Navigation menu" class="navbar-toggler" /> *@

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <MudPaper Width="250px" Elevation="0" Class="py-3" Style="height: -webkit-fill-available">
        <MudNavMenu Bordered="true" Margin="Margin.Normal" Color="Color.Error" Rounded="true" Class="pa-2">
            <AuthorizeView>
                <Authorized>
                    <MudNavLink Match="NavLinkMatch.All" IconColor="Color.Secondary" Icon="@Icons.Material.Filled.Home" Href="/">Home</MudNavLink>
                    <MudNavLink Match="NavLinkMatch.Prefix" IconColor="Color.Secondary" Icon="@Icons.Material.Filled.Group" Href="/tagok">Tagok</MudNavLink>
                    <MudNavLink Match="NavLinkMatch.Prefix" IconColor="Color.Secondary" Icon="@Icons.Material.Filled.AttachMoney" Href="/vasarlasok">Vásárlások</MudNavLink>
                    <MudNavLink Match="NavLinkMatch.Prefix" IconColor="Color.Secondary" Icon="@Icons.Material.Filled.Calculate" Href="/kiadasok">Kiadások</MudNavLink>
                    <MudNavLink Match="NavLinkMatch.Prefix" IconColor="Color.Secondary" Icon="@Icons.Material.Filled.AssignmentInd" Href="/berletek">Bérlet típusok</MudNavLink>
                    <MudNavLink Match="NavLinkMatch.Prefix" IconColor="Color.Secondary" Icon="@Icons.Material.Filled.Task" Href="/feladatok">TODO</MudNavLink>
                    <MudNavLink Match="NavLinkMatch.Prefix" IconColor="Color.Secondary" Icon="@Icons.Material.Filled.ManageAccounts" Href="Account/Manage">Profil (@context.User.Identity?.Name)</MudNavLink>
                    <div class="nav-item">
                        <form action="Account/Logout" method="post">
                            <AntiforgeryToken />
                            <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                            <MudButton Variant="Variant.Filled" ButtonType="ButtonType.Submit" Class="nav-link" StartIcon="@Icons.Material.Filled.Logout" IconColor="Color.Secondary" Size="MudBlazor.Size.Medium">Kijelentkezés</MudButton>
                        </form>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home" Href="/">Home</MudNavLink>
                    <MudNavLink Match="NavLinkMatch.Prefix" Href="Account/Login" IconColor="Color.Secondary" Icon="@Icons.Material.Filled.People">Belépés</MudNavLink>
                    <MudNavLink Match="NavLinkMatch.Prefix" Href="Account/Register" IconColor="Color.Secondary" Icon="@Icons.Material.Filled.PersonAdd">Regisztráció</MudNavLink>
                </NotAuthorized>
            </AuthorizeView>
        </MudNavMenu>
    </MudPaper>
</div>

