@page "/berletek"
@rendermode InteractiveServer
@inject ISnackbar Snackbar

<MudPopoverProvider />
<MudSnackbarProvider />

<h3>Bérletek</h3>
<MudPaper Class="pa-16 ma-2" Outlined="true">
    <EditForm Model="@membership" OnValidSubmit="() => HandleValidSubmit(membership)">
        <MudTextField @bind-Value="membership.Type" Label="Típus" Required Variant="Variant.Outlined"></MudTextField>
        <MudNumericField @bind-Value="membership.Price" Label="Ár" Required Variant="Variant.Outlined" />
        <MudTextField @bind-Value="membership.Description" Label="Leírás" Variant="Variant.Outlined"></MudTextField>
        <MudButton ButtonType="ButtonType.Submit" Color="Color.Primary" Variant="Variant.Filled">Submit</MudButton>
    </EditForm>
    
</MudPaper>
<MudDataGrid T="Szakdolgozat.Data.Models.Membership" Items="Memberships" ReadOnly="false" QuickFilter="@_quickFilter" EditMode="DataGridEditMode.Cell" CommittedItemChanges="@CommittedItemChanges" Bordered="true" Dense="true" EditTrigger="DataGridEditTrigger.Manual">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Bérlet és jegy típusok listája</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="_searchString" Placeholder="Keresés" Adornment="Adornment.Start" Immediate="true"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Variant="Variant.Outlined" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <Columns>
        <PropertyColumn Property="x => x.Type" Title="Típus" />
        <PropertyColumn Property="x => x.Price" Title="Ár"/>
        <PropertyColumn Property="x => x.Description" Title="Leírás"/>
        <TemplateColumn CellClass="d-flex justify-end" Editable="false">
            <CellTemplate>
                <MudStack Row>
                    <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Delete" OnClick="() => DeleteMembership(context.Item)" />
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>
