@page "/feladatok"
@rendermode InteractiveServer
@inject ISnackbar Snackbar
@inject IDialogService DialogService

<MudPopoverProvider />
<MudSnackbarProvider />
<MudDialogProvider />

<h3>Feladatok</h3>
<MudDataGrid T="Szakdolgozat.Data.Models.Todo" Items="TodoList" ReadOnly="false" QuickFilter="@_quickFilter"
             EditMode="DataGridEditMode.Cell" CommittedItemChanges="@CommittedItemChanges" Bordered="true"
             Dense="false" EditTrigger="DataGridEditTrigger.Manual" Class=" rounded-3">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Elvégzendő feladatok</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="_searchString" Placeholder="Keresés" Adornment="Adornment.Start" Immediate="true"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Variant="Variant.Outlined" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <Columns>
        <PropertyColumn Property="x => x.Name" Title="Név" />
        <PropertyColumn Property="x => x.Description" Title="Leírás" />
        <TemplateColumn Editable="false" Title="Készítve">
            <CellTemplate>
                @context.Item.CreatedDate.ToShortDateString()
            </CellTemplate>
        </TemplateColumn>
        <TemplateColumn Editable="false" Title="Határidő">
            <CellTemplate>
                @context.Item.DueDate.ToShortDateString()
            </CellTemplate>
        </TemplateColumn>
        <PropertyColumn Property="x => x.CreatorId" Title="Hozzáadta" />
        <PropertyColumn Property="x => x.Severity" Title="Fontosság" />
        <PropertyColumn Property="x => x.Status" Title="Státusz" />
        <TemplateColumn CellClass="d-flex justify-end" Editable="false">
            <CellTemplate>
                <MudStack Row>
                    <MudIconButton Size="@Size.Medium" Icon="@Icons.Material.Outlined.Delete" OnClick="() => DeleteTodo(context.Item)" />
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
    <PagerContent>
        <MudDataGridPager T="Szakdolgozat.Data.Models.Todo" />
    </PagerContent>
</MudDataGrid>